html {
    position: relative;
    min-height: 100%;
  }
body{
    margin-bottom: 10%;
    overflow-x: hidden;
}
.container{
    margin-top:2%;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
.navbar-nav{
    color: #ffffff;
}
#home-block{
    padding:0%;
    display: flex;
}
#home-content{
    width:100;
    text-align: center;
}
#q-block{
    display: none;
}
#q-content{
    padding:0%;
}
#alert{
    border-top: 2px solid gray;
    color: gray;
    margin-top:5%;
    display:none;
}

#enterUser{
    display: none;
}


.choices{
    font-size: larger ;
    margin-top:5%;
    padding:0%;
}
.choices li{
    padding:3%;
    border:1px solid inherit ;
    color:#ffffff;
    background-color: indigo;
    border-radius: 15px;
    margin-bottom:5%;
}